{% extends "ams_admin_base_html.html" %}

{% load staticfiles %}
{#{% load widget_tweaks %}#}

{% block title %}Create Contract{% endblock %}

{% block script %}

    <link href="{% static "css/ams_body.css" %}" rel="stylesheet">


    <link rel="stylesheet" href={% static "js/jquery-ui.css" %}>
    <script src={% static "js/jquery-3.3.1.js" %}></script>
    <script src={% static "js/jquery-ui.js" %}></script>


    <script>
        $(document).ready(function () {

            $("#id_start_date").datepicker(
                {
                    showAnim: 'slide',
                    {#dateFormat: 'D: d-M-yy',#}
                    {#dateFormat:'dd-mm-yy',#}
                    dateFormat: 'mm/dd/yy',
                    changeMonth: true,
                    changeYear: true,
                });

            $("#id_end_date").datepicker(
                {
                    showAnim: 'slide',
                    {#dateFormat: 'D: d-M-yy',#}
                    {#dateFormat:'dd-mm-yy',#}
                    dateFormat: 'mm/dd/yy',
                    changeMonth: true,
                    changeYear: true,
                });


        });


    </script>

{% endblock %}


{% block style %}
    <style>

        body {
        {#font: 90% Arial, Helvetica, sans-serif;#}{#width: 95%;#}{#padding: 0;#}{#margin: 2px;#}
        }

        div.contract label, div.extra label {
            color: black;
            float: left;
            width: 6em;
            font-weight: bold;
            text-align: right;
            margin-right: .15em;
        {#background-color: #aaaaaa;#}

        }

        #id_pin, #id_phone, #id_room_no, #id_term,
        #id_start_date, #id_end_date, #id_deposit, #id_deduct, #id_cum_ovd, #id_adjust, #id_photo,
        #id_username, #id_first_name, #id_last_name, #id_password, #id_password2 {
            width: 10em;
            background-color: lightblue;
            margin-top: 0;

        }

        div.contract fieldset {
            width: 22em;
            height: 23em;
            float: left;

        {#    margin-top: 1em;#}{#    margin-bottom: 1em;#}{#    padding-top: .5em;#}

        }

        div.contract legend {

            color: blue;
            font-weight: bold;
            font-size: 125%;
            margin-bottom: .5em;

        }

        div.extra fieldset {
            width: 18em;
            height: 23em;

        {#margin-top: 1em;#}{#margin-bottom: 1em;#}{#padding-top: .5em;#}
        }

        div.extra legend {

            color: blue;
            font-weight: bold;
            font-size: 125%;
            margin-bottom: .5em;

        }

        #id_photo {
            font-weight: bold;
            color: red;
            width: 16em;
        }

        div.submit {

        {#margin-left: 17em;#}{#clear: both;#}{#padding: 1em;#}

        }

        div.submit button {
            width: 9em;
            font-size: large;
            background-color: red;
            color: white;
            margin-top: .5em;
            padding: .3em;
        }


    </style>


{% endblock %}


{% block content %}
    <h1>Create New Contract</h1>
    <p>Using the following form to create new contract:</p>
    <form action="." method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <div class="contract">
            <fieldset>
                <legend align="top">Personal Information</legend>

                {{ tenant_form.errors }}

                <p>
                    <label for="id_username" id="lb1">Username:</label>
                    {{ tenant_form.username }}
                <p>

                <p>
                    <label for="first_name" id="lb1">First name:</label>
                    {{ tenant_form.first_name }}
                <p>

                <p>
                    <label for="id_last_name" id="lb1">Last name:</label>
                    {{ tenant_form.last_name }}
                <p>

                <p>
                    <label for="id_password" id="lb1">Password:</label>
                    {{ tenant_form.password }}
                <p>

                <p>
                    <label for="id_password2" id="lb1">Password2:</label>
                    {{ tenant_form.password2 }}
                <p>

                    {{ tenant_profile_form.errors }}


                <p>
                    <label for="id_pin" id="lb1">Pin:</label>

                    {{ tenant_profile_form.pin }}
                <p>

                <p>
                    <label for="id_phone">Phone:</label>
                    {{ tenant_profile_form.phone }}
                </p>


                <p>
                    <label for="id_photo">Photo:</label>
                    {{ tenant_profile_form.photo }}
                </p>

            </fieldset>
        </div>


        <div class="extra">
            <fieldset>
                <legend align="top">Contract Information</legend>

                <p>
                    <label for="id_room_no">Room No:</label>
                    {{ tenant_profile_form.room_no }}
                </p>

                <p>
                    <label for="id_term">Term:</label>
                    {{ tenant_profile_form.term }}
                </p>

                <p>
                    <label for="id_start_date">Start Date:</label>
                    {{ tenant_profile_form.start_date }}
                </p>

                <p>
                    <label for="id_end_date">End Date:</label>
                    {{ tenant_profile_form.end_date }}
                </p>

                <p>
                    <label for="id_deposit">Deposit:</label>
                    {{ tenant_profile_form.deposit }}
                </p>


                <p>
                    <label for="id_adjust">Adjust:</label>
                    {{ tenant_profile_form.adjust }}
                </p>


                <p>
                    <label for="id_extra">Extra:</label>
                    {{ tenant_profile_form.extra }}
                </p>


            </fieldset>
        </div>


        <div class="submit">

            <button type="submit">Create Contract</button>

        </div>


    </form>



{% endblock %}



