{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/header.css" %}" rel="stylesheet">
    <link href="{% static "css/auth_body.css" %}" rel="stylesheet">

    {% block style %}
        <style>
            #content {
                height: 980px;
                background-image: url("/static/pics/bg1.jpg");
                background-position: center center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
        </style>
    {% endblock %}

</head>
<body>

<div id="header">
    <span class="logo">Chollada Apartment Homepage</span>
    <span class="user"><a href="{% url "login" %}">Log-in</a></span>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message|safe }}</li>
        {% endfor %}
    </ul>
{% endif %}


<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>