{% extends "ams_admin_base_html.html" %}
{% load static %}

{% block title %}Misc Contents{% endblock %}

{% block script %}
    <link href="{% static "css/ams_body.css" %}" rel="stylesheet">
{% endblock %}

{% block style %}

    <style>
        div #topic ul {
            list-style-type: disc;
            color: red;
            font-size: larger;
            font-weight: bold;
        }
    a:hover{
        color: red;
        font-weight: bold;
    }


    </style>

{% endblock %}

{% block content %}
    <h1>Contents:</h1>

    <div id="topic">


        <ul>
            <li><p><a href="{% url 'send_bil_sms_to_all_tenants' %}">Send Billing SMS to all tenants</a></p></li>
            <li><p><a href="{% url 'send_sms_to_individual_room' %}">Send Billing SMS to individual tenant</a></p></li>
            <li><p><a href="{% url 'send_general_sms' %}">Send general SMS</a></p></li>
        </ul>


    </div>


{% endblock %}