
{% extends "ams_user_base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Tenant Bil{% endblock %}

{% block script %}
    <link href="{% static "css/ams_body.css" %}" rel="stylesheet">
{% endblock %}

{% block style %}

    <style>

        label {
            display: block;
            width: 18em;
            font-size: medium;
            font-weight: bold;
            color: blue;
            float: left;
            text-align: right;
            padding-right: .5em;
        }

        .hlab {
            display: block;
            width: 4.75em;
            font-size: medium;
            font-weight: bold;
            color: black;
            text-align: right;
            padding-right: .5em;
            {#background: lightsteelblue;#}

        }


    </style>

    <style>

        table {
            border-collapse: collapse;
            border: 1px solid black;
            white-space: nowrap;
        }

        thead, tfoot {
            background-color: lightblue;
        }

        tfoot {
            font-weight: bold;
        }

        th, td {
            border: 1px solid black;
            padding: .2em .7em;
            text-align: right;
        }

        th:first-child, td:first-child {
            text-align: left;
        }

        th:first-child {

            vertical-align: center;
        }

        th:nth-child(2) {
            text-align: center;
        }

        tr:nth-child(1) th {
            vertical-align: center;
            text-align: center;
            color: black;
        }

        tfoot tr:nth-child(1) th {
            text-align: center;
            vertical-align: center;
            color: black;
        }
    #status{
        color: red;
        font-weight: bold;
    }


    </style>



{% endblock %}


{% block content %}

<p style ="font-size:150%;color: blue">Welcome <strong>K. {{tenant_name }}</strong> to Chollada Apartment !!!</p>


{% endblock %}