{% extends "ams_admin_base_html.html" %}
{% load static %}

{% block title %}Report types{% endblock %}

{% block script %}
    <link href="{% static "css/ams_body.css" %}" rel="stylesheet">
{% endblock %}

{% block style %}

    <style>

        div #topic ul {
            list-style-type: disc;
            color: red;
            font-size: larger;
            font-weight: bold;
        }

        a:hover {

            color: red;

            font-weight: bold;
        }


    </style>

{% endblock %}

{% block content %}
    <h1>Contents:</h1>

    <div id="topic">
        <ul>
            <li><p><a href="{% url "report_parameters" %}">Monthly Reports</a></p></li>
            <li><p><a href="{% url 'current_tenant' %}">Current Tenants</a></p></li>
            <li><p><a href="{% url 'vacant_rooms' %}">Vacant Rooms</a></p></li>
            <li><p><a href="{% url 'room_type_rate' %}">Room type and Rates</a></p></li>
            <li><p><a href="{% url 'extra_service' %}">Extra service Rates</a></p></li>
        </ul>
    </div>



{% endblock %}