{% extends "ams_admin_base_html.html" %}
{% load static %}
{% load humanize %}

{% block title %}SMS to Individuals{% endblock %}

{% block script %}
    <link href="{% static "css/ams_body.css" %}" rel="stylesheet">
{% endblock %}

{% block style %}

    <style>


        div #da label {
            display: block;
            width: 9em;
            text-align: left;
            float: left;
            font-size: medium;
            font-weight: bold;
            color: black;

        }

        div #da #rmn, div #da option {
            display: block;
            width: 4.5em;
            text-align: left;
            float: left;
            font-size: medium;
            font-weight: bold;
            color: black;
            background-color: lightblue;

        }

        div .submit {
            clear: both;
        }

        div.submit button {
            width: 6em;
            font-size: medium;
            background-color: red;
            color: white;
            margin-top: .5em;
            padding: .3em;
        }


    </style>

{% endblock %}


{% block content %}
    <h2>Select Room Number to send SMS:</h2>

    <div id="hx">


    </div>

    <div id="da">

        <form action="." method="post">
            {% csrf_token %}

            <label for="rmn">ROOM NUMBER:</label>
            <select id="rmn" name="rmn">
                {% for bill in bills %}
                    <option value={{ bill.room_no }}>{{ bill.room_no }}</option>
                {% endfor %}
            </select><br>

            <div class="submit">
                <button type="submit">Send SMS</button>
            </div>
        </form>

    </div>



{% endblock %}