

{% extends "ams_user_base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Tenant Bil{% endblock %}

{% block script %}
    <link href="{% static "css/ams_body.css" %}" rel="stylesheet">
{% endblock %}

{% block style %}

    <style>

        label {
            display: block;
            width: 18em;
            font-size: medium;
            font-weight: bold;
            color: blue;
            float: left;
            text-align: right;
            padding-right: .5em;
        }

        .hlab {
            display: block;
            width: 4.75em;
            font-size: medium;
            font-weight: bold;
            color: black;
            text-align: right;
            padding-right: .5em;
            {#background: lightsteelblue;#}

        }


    </style>

    <style>

        table {
            border-collapse: collapse;
            border: 1px solid black;
            white-space: nowrap;
        }

        thead, tfoot {
            background-color: lightblue;
        }

        tfoot {
            font-weight: bold;
        }

        th, td {
            border: 1px solid black;
            padding: .2em .7em;
            text-align: right;
        }

        th:first-child, td:first-child {
            text-align: left;
        }

        th:first-child {

            vertical-align: center;
        }

        th:nth-child(2) {
            text-align: center;
        }

        tr:nth-child(1) th {
            vertical-align: center;
            text-align: center;
            color: black;
        }

        tfoot tr:nth-child(1) th {
            text-align: center;
            vertical-align: center;
            color: black;
        }
    #status{
        color: red;
        font-weight: bold;
    }


    </style>



{% endblock %}


{% block content %}


    <section>
        <p style="line-height: 1.5em">
            <label class="hlab">เลขที่บิล:</label>{{ tn_bill.bill_ref }} (งวดเดือน {{ cur_th_mth }} {{ cur_th_yr }})<br>
            <label class="hlab">สถานะ:</label><span id="status">{{ paid_str }}<br></span>
            <label class="hlab">ชื่อผู้เช่า:</label>{{ tn_bill.tenant_name }}<br>
            <label class="hlab">ห้องเลขที่:</label> {{ tn_bill.room_no }}</p>


    </section>


    <table>
        <thead>
        <tr>
            <th>รายการค่าเช่า</th>
            <th>จำนวนเงิน(บาท)</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>ค่าห้องพร้อมอุปกรณ์</td>

            <td>{{ room_with_acc_cost|floatformat:0|intcomma }}</td>
        </tr>
        <tr>
            <td>ค่าไฟฟ้า</td>

            <td>{{ tn_bill.electricity_cost|floatformat:0|intcomma }}</td>
        </tr>
        <tr>
            <td>ค่าน้ำประปา</td>

            <td>{{ tn_bill.water_cost|floatformat:0|intcomma }}</td>
        </tr>
        <tr>
            <td>ค่าส่วนกลาง</td>

            <td>{{ tn_bill.common_ser_cost|floatformat:0|intcomma }}</td>
        </tr>


        <tr>
            <td>ค่าบริการอื่นๆ</td>

            <td>{{ tn_bill.other_ser_cost|floatformat:0|intcomma }}</td>
        </tr>

        <tr>
            <td>ยอดค้างจ่าย</td>

            <td>{{ tn_bill.overdue_amount|floatformat:0|intcomma }}</td>
        </tr>


        </tbody>
        <tfoot>
        <tr>
            <th id="total">ยอดรวม</th>

            <td>{{ bill_total|floatformat:0|intcomma }} </td>
        </tr>
        </tfoot>
    </table>


    <p style="line-height: 1.5em ; color: blue ">กรุณาชำระค่าเช่า <strong>ภายในวันที่
        5 {{ next_th_m }} {{ cur_th_yr }}</strong> (วันปิดบัญชีของรอบเดือน)
        <br>
        ชำระเป็นเงินสด หรือโอนเข้าบัญชี นาง ชลลดา บุตรวิชา ธนาคารกรุงเทพ เลขบัญชี <strong>935-002324-9</strong><br>
        (ชำระหลังกำหนด จะมีค่าปรับ 50 บาท/วัน โดยจะถูกคิดรวมในค่าเช่าของเดือนถัดไปโดยอัตโนมัติ)<br>

    </p>




{% endblock %}